<p style="color: green"><%= notice %></p>

<h1><%= @project.title %> Tasks</h1>

<div class="row-btns">
  <%= link_to "+ New task", new_task_path, class: "secondary-btn mb-5" %>
  <%= link_to "Back to projects", projects_path, class: "main-btn" %>
</div>

<div class="mb-4">
</div>

<div id="tasks">
  <% @tasks.each do |task| %>
    <%= render task %>
    <p>
      <a id="task-<%= task.id %>-timer" data-timer-state="not_started" class="main-btn toggle-timer">
        StartTimer
        <label class="minutes" id="task-<%= task.id %>-minutes">00</label>:
        <label class="seconds" id="task-<%= task.id %>-seconds">00</label>
      </a>
    </p>

    <div class="row-btns">
      <%= link_to "Show this task", task, class: "main-btn" %>
      <%= link_to "Edit this task", edit_task_path(task), class: "secondary-btn" %>
      <%= button_to "Destroy this task", task, method: :delete, class: "secondary-btn" %>
    </div>
    <hr/>
  <% end %>
</div>
