<p style="color: green"><%= notice %></p>

<h1>All Projects</h1>

<div class="mb-4">
  <%= link_to "+ New project", new_project_path, class: "secondary-btn mb-5" %>
</div>

<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
    <div class="row-btns">
      <%= link_to "Show this project", project, class: "main-btn" %>
        <%= link_to "Edit this project", edit_project_path(project), class: "secondary-btn" %>
      <%= button_to "Destroy this project", project, method: :delete, class: "secondary-btn" %>
    </div>
    <hr/>
  <% end %>
</div>
