<!DOCTYPE html>
<html>
  <head>
    <title>Toggl Track Clone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%# Main Script %>
    <%# javascript_include_tag 'main', 'data-turbolinks-track': 'reload' %>

    <%# Ysabeau Infant Font-Family %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,400;1,600&display=swap" rel="stylesheet">
  </head>

  <body>
    <% if notice %> <p class="alert alert-success"><%= notice %></p> <% end %>
    <% if alert %> <p class="alert alert-danger"><%= alert %></p> <% end %>
    <%= render "shared/nav" %>
    <main>
      <% if user_signed_in? %>
        <div class="container">
          <%= yield %>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    </main>
  </body>
</html>
