<!DOCTYPE html>
<html>
  <head>
    <title>Toggl Track Clone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%# Ysabeau Infant Font-Family %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ysabeau+Infant:ital,wght@0,400;1,600&display=swap" rel="stylesheet">

    <%# Custom Style %>
    <%= stylesheet_link_tag 'style' %>

    <%# Task Timer Script %>
    <%# <%= javascript_importmap_tags "task_timer" %>
  </head>

  <body>
    <% if notice %> <p class="alert alert-success"><%= notice %></p> <% end %>
    <% if alert %> <p class="alert alert-danger"><%= alert %></p> <% end %>
    <div class="container">
      <div class="main-content">
        <%= yield %>
      </div>
    </div>
    <script>
      let totalSeconds = 0;
      let timerInterval = null;

      function startTimer(thisElem) {
        pauseTimer();
        timerInterval = setInterval(()=>{
          setTime(thisElem.getElementsByClassName("minutes")[0],
            thisElem.getElementsByClassName("seconds")[0]);
        }, 1000)
      }

      function pauseTimer() {
        if(timerInterval) {
          clearInterval(timerInterval);
          timerInterval = null;
          totalSeconds = 0;
        }
      }

      function setTime(minutes, seconds) {
        ++totalSeconds;
        seconds.innerHTML = pad(totalSeconds % 60);
        minutes.innerHTML = pad(parseInt(totalSeconds / 60));
      }

      function pad(val) {
        var valString = val + "";
        if (valString.length < 2) {
          return "0" + valString;
        } else {
          return valString;
        }
      }
    </script>
  </body>
</html>
